In [1]:
import geopandas as gpd

# .geojson 파일을 읽어옵니다
gdf = gpd.read_file("daegu.geojson")

# 데이터 출력
print(gdf.head())

   zone_id  name      full_name  sido_id  sigungu_id              X  \
0  2201054   삼덕동   대구광역시 중구 삼덕동    22000       22010  454785.839037
1  2201056  성내1동  대구광역시 중구 성내1동    22000       22010  454124.690157
2  2201059  성내2동  대구광역시 중구 성내2동    22000       22010  453401.785010
3  2201061  성내3동  대구광역시 중구 성내3동    22000       22010  452793.926631
4  2201062   대신동   대구광역시 중구 대신동    22000       22010  452482.622854

               Y           area  \
0  362968.832567  643480.348805
1  363330.790309  774865.623300
2  363564.094390  940529.327244
3  364042.004210  749855.701215
4  363194.309703  493573.988673

                                            geometry
0  MULTIPOLYGON (((344673.33569 364554.63781, 344...
1  MULTIPOLYGON (((344267.0574 365394.71974, 3442...
2  MULTIPOLYGON (((343506.18038 365577.06515, 343...
3  MULTIPOLYGON (((343051.29949 365699.89085, 343...
4  MULTIPOLYGON (((342851.81036 365158.81216, 342...

In [1]:
import pandas as pd
import numpy as np
import csv

In [3]:
data = pd.read_csv("loc_code.csv")
data

        si   gu  dong     code
0    대구광역시   중구   삼덕동  2201054
1    대구광역시   중구  성내1동  2201056
2    대구광역시   중구  성내2동  2201059
3    대구광역시   중구  성내3동  2201061
4    대구광역시   중구   대신동  2201062
..     ...  ...   ...      ...
144   경상북도  군위군   효령면  3731032
145   경상북도  군위군   부계면  3731033
146   경상북도  군위군   우보면  3731034
147   경상북도  군위군   의흥면  3731035
148   경상북도  군위군   산성면  3731036

[149 rows x 4 columns]

In [4]:
data2 = pd.read_csv("estimate_traffic.csv")
data2

,sido_code,sigungu_code,emd_code,week_type,ALL_AADT,PSCR_AADT,BUS_AADT,FGCR_AADT
0,11000,11010,1101053,weekday,13404,11442,576,1385
1,11000,11010,1101054,weekday,8751,7861,247,644
2,11000,11010,1101055,weekday,9707,8477,402,828
3,11000,11010,1101056,weekday,19229,17431,382,1417
4,11000,11010,1101057,weekday,20422,17117,1561,1744
...,...,...,...,...,...,...,...,...
3452,39000,39020,3902058,weekday,6097,5103,226,769
3453,39000,39020,3902059,weekday,5019,4132,224,663
3454,39000,39020,3902060,weekday,5767,4845,220,702
3455,39000,39020,3902061,weekday,4662,3884,155,622
3456,39000,39020,3902062,weekday,5448,4548,178,722

In [5]:
data_merge = pd.merge(left = data , right = data2[['emd_code', 'ALL_AADT', 'PSCR_AADT', 'BUS_AADT', 'FGCR_AADT']], how = "left", left_on="code", right_on = "emd_code")

data_merge

,si,gu,dong,code,emd_code,ALL_AADT,PSCR_AADT,BUS_AADT,FGCR_AADT
0,대구광역시,중구,삼덕동,2201054,2201054.0,16679.0,14398.0,537.0,1744.0
1,대구광역시,중구,성내1동,2201056,2201056.0,8176.0,6722.0,639.0,814.0
2,대구광역시,중구,성내2동,2201059,2201059.0,6833.0,5728.0,350.0,754.0
3,대구광역시,중구,성내3동,2201061,2201061.0,10307.0,8789.0,383.0,1135.0
4,대구광역시,중구,대신동,2201062,2201062.0,6078.0,5136.0,343.0,599.0
...,...,...,...,...,...,...,...,...,...
144,경상북도,군위군,효령면,3731032,3731032.0,6099.0,3820.0,131.0,2148.0
145,경상북도,군위군,부계면,3731033,3731033.0,5394.0,3369.0,116.0,1908.0
146,경상북도,군위군,우보면,3731034,3731034.0,1900.0,1250.0,33.0,617.0
147,경상북도,군위군,의흥면,3731035,3731035.0,1594.0,1017.0,30.0,547.0
148,경상북도,군위군,산성면,3731036,3731036.0,2671.0,1540.0,65.0,1067.0

In [8]:
data_merge = data_merge.drop('emd_code', axis=1)
data_merge

        si   gu  dong     code  ALL_AADT  PSCR_AADT  BUS_AADT  FGCR_AADT
0    대구광역시   중구   삼덕동  2201054   16679.0    14398.0     537.0     1744.0
1    대구광역시   중구  성내1동  2201056    8176.0     6722.0     639.0      814.0
2    대구광역시   중구  성내2동  2201059    6833.0     5728.0     350.0      754.0
3    대구광역시   중구  성내3동  2201061   10307.0     8789.0     383.0     1135.0
4    대구광역시   중구   대신동  2201062    6078.0     5136.0     343.0      599.0
..     ...  ...   ...      ...       ...        ...       ...        ...
144   경상북도  군위군   효령면  3731032    6099.0     3820.0     131.0     2148.0
145   경상북도  군위군   부계면  3731033    5394.0     3369.0     116.0     1908.0
146   경상북도  군위군   우보면  3731034    1900.0     1250.0      33.0      617.0
147   경상북도  군위군   의흥면  3731035    1594.0     1017.0      30.0      547.0
148   경상북도  군위군   산성면  3731036    2671.0     1540.0      65.0     1067.0

[149 rows x 8 columns]

In [9]:
data_merge.to_csv("data_merge.csv", index=False, encoding="utf-8-sig")

In [10]:
data = pd.read_csv("congestion_freq_intensity.csv")
data

     sido_code  sigungu_code  emd_code week_type  FRIN_CG
0        22000         22010   2201054   weekday    69.64
1        22000         22010   2201056   weekday    42.91
2        22000         22010   2201059   weekday    51.32
3        22000         22010   2201061   weekday    38.64
4        22000         22010   2201062   weekday    53.54
..         ...           ...       ...       ...      ...
136      22000         22310   2231015   weekday    34.74
137      22000         22310   2231016   weekday    32.98
138      22000         22310   2231031   weekday    43.06
139      22000         22310   2231032   weekday    38.45
140      22000         22310   2231036   weekday    16.90

[141 rows x 5 columns]

In [12]:
data_mapcode = pd.read_csv("loc_mapcode.csv")

data_mapcode

       EMD_CD EMD_KOR_NM
0    27110101      동인동1가
1    27110102      동인동2가
2    27110103      동인동3가
3    27110104      동인동4가
4    27110105      삼덕동1가
..        ...        ...
207  27720330        부계면
208  27720340        우보면
209  27720350        의흥면
210  27720360        산성면
211  27720370      삼국유사면

[212 rows x 2 columns]

In [13]:
import re

In [16]:
data_mapcode['new_kor'] = data_mapcode['EMD_KOR_NM'].apply(lambda x: re.split(r'\d+', x)[0])

print(data_mapcode)

       EMD_CD EMD_KOR_NM new_kor
0    27110101      동인동1가     동인동
1    27110102      동인동2가     동인동
2    27110103      동인동3가     동인동
3    27110104      동인동4가     동인동
4    27110105      삼덕동1가     삼덕동
..        ...        ...     ...
207  27720330        부계면     부계면
208  27720340        우보면     우보면
209  27720350        의흥면     의흥면
210  27720360        산성면     산성면
211  27720370      삼국유사면   삼국유사면

[212 rows x 3 columns]

In [17]:
data_merge = pd.merge(left = data_mapcode , right = data_merge, how = "left", left_on="new_kor", right_on = "dong")

data_merge

,EMD_CD,EMD_KOR_NM,new_kor,si,gu,dong,code,ALL_AADT,PSCR_AADT,BUS_AADT,FGCR_AADT
0,27110101,동인동1가,동인동,대구광역시,중구,동인동,2201070.0,11508.0,9861.0,427.0,1221.0
1,27110102,동인동2가,동인동,대구광역시,중구,동인동,2201070.0,11508.0,9861.0,427.0,1221.0
2,27110103,동인동3가,동인동,대구광역시,중구,동인동,2201070.0,11508.0,9861.0,427.0,1221.0
3,27110104,동인동4가,동인동,대구광역시,중구,동인동,2201070.0,11508.0,9861.0,427.0,1221.0
4,27110105,삼덕동1가,삼덕동,대구광역시,중구,삼덕동,2201054.0,16679.0,14398.0,537.0,1744.0
...,...,...,...,...,...,...,...,...,...,...,...
207,27720330,부계면,부계면,경상북도,군위군,부계면,3731033.0,5394.0,3369.0,116.0,1908.0
208,27720340,우보면,우보면,경상북도,군위군,우보면,3731034.0,1900.0,1250.0,33.0,617.0
209,27720350,의흥면,의흥면,경상북도,군위군,의흥면,3731035.0,1594.0,1017.0,30.0,547.0
210,27720360,산성면,산성면,경상북도,군위군,산성면,3731036.0,2671.0,1540.0,65.0,1067.0
211,27720370,삼국유사면,삼국유사면,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
data_merge.to_csv("data_merge.csv", index=False, encoding="utf-8-sig")

In [22]:
data = pd.read_csv("loc_code.csv")
data

        si   gu  dong     code
0    대구광역시   중구   삼덕동  2201054
1    대구광역시   중구  성내1동  2201056
2    대구광역시   중구  성내2동  2201059
3    대구광역시   중구  성내3동  2201061
4    대구광역시   중구   대신동  2201062
..     ...  ...   ...      ...
145   경상북도  군위군   부계면  3731033
146   경상북도  군위군   우보면  3731034
147   경상북도  군위군   의흥면  3731035
148   경상북도  군위군   산성면  3731036
149   경상북도  군위군   고로면  3731037

[150 rows x 4 columns]

In [28]:
data2 = pd.read_csv("loc_mapcode.csv")
data2

       EMD_CD EMD_KOR_NM
0    27110101      동인동1가
1    27110102      동인동2가
2    27110103      동인동3가
3    27110104      동인동4가
4    27110105      삼덕동1가
..        ...        ...
207  27720330        부계면
208  27720340        우보면
209  27720350        의흥면
210  27720360        산성면
211  27720370      삼국유사면

[212 rows x 2 columns]

In [25]:
data_merge = pd.merge(left = data, right = data2, how = "right", left_on="dong", right_on = "new_kor")

data_merge

,si_x,gu_x,dong_x,code_x,EMD_CD,EMD_KOR_NM,new_kor,si_y,gu_y,dong_y,code_y,ALL_AADT,PSCR_AADT,BUS_AADT,FGCR_AADT
0,대구광역시,중구,동인동,2201070.0,27110101,동인동1가,동인동,대구광역시,중구,동인동,2201070.0,11508.0,9861.0,427.0,1221.0
1,대구광역시,중구,동인동,2201070.0,27110102,동인동2가,동인동,대구광역시,중구,동인동,2201070.0,11508.0,9861.0,427.0,1221.0
2,대구광역시,중구,동인동,2201070.0,27110103,동인동3가,동인동,대구광역시,중구,동인동,2201070.0,11508.0,9861.0,427.0,1221.0
3,대구광역시,중구,동인동,2201070.0,27110104,동인동4가,동인동,대구광역시,중구,동인동,2201070.0,11508.0,9861.0,427.0,1221.0
4,대구광역시,중구,삼덕동,2201054.0,27110105,삼덕동1가,삼덕동,대구광역시,중구,삼덕동,2201054.0,16679.0,14398.0,537.0,1744.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,경상북도,군위군,부계면,3731033.0,27720330,부계면,부계면,경상북도,군위군,부계면,3731033.0,5394.0,3369.0,116.0,1908.0
208,경상북도,군위군,우보면,3731034.0,27720340,우보면,우보면,경상북도,군위군,우보면,3731034.0,1900.0,1250.0,33.0,617.0
209,경상북도,군위군,의흥면,3731035.0,27720350,의흥면,의흥면,경상북도,군위군,의흥면,3731035.0,1594.0,1017.0,30.0,547.0
210,경상북도,군위군,산성면,3731036.0,27720360,산성면,산성면,경상북도,군위군,산성면,3731036.0,2671.0,1540.0,65.0,1067.0
211,경상북도,군위군,고로면,3731037.0,27720370,삼국유사면,고로면,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
data_merge.to_csv("data_merge.csv", index=False, encoding='utf-8-sig')